body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #d2d5d6;
}

#window {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
    background-image: url(img/bg2.jpg);
    background-size: cover;
}

#audioBoard {
    position: relative;
    width: 300px;
    height: 60px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#audio {
    outline: none;
}

#content {
    position: relative;
    width: 250px;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 10px;
    line-height: 1.5em;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
#geci {
    /* border: 1px solid red; */
    width: 250px;
    height: 80px;
    margin-top: 50px;
    text-align: center;
    font-size: large
}

.restart {
    animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/
    /* animation-play-state: paused; */
}